In [1]:
i = 9
if i < 10:
    print('it is less than 10')
else:
    print('it is something else')

it is less than 10

In [2]:
 print('it is less than 10') if i < 10 else print('it is something else')

it is less than 10

# Message

In [3]:
item_1 = 300

item_2 = 100
if (item_1 + item_2) >= 500:
    print('your item is eligible for free shopping')
    
else:
    extra = 500 - (item_1 + item_2)
    print('please add', extra, 'Rs worth of an item for free shipping')

please add 100 Rs worth of an item for free shipping

In [4]:
a = 200
b = 33
c = 500
if a > b and c < a:
    print('Both conditions are True')
else:
    print('Both are not True')

Both are not True

In [5]:
a = 200
b = 33
c = 500
if a > b or c < a:
    print('Both conditions are True')
else:
    print('Both are not True')

Both conditions are True

In [6]:
a = 200
b = 33
c = 500
if a > b or c < a:
    print('At least one condition is True')
else:
    print('Both are not True')

At least one condition is True

###   Find Student Level

In [7]:
marks = 55
if marks>= 60:
    if marks > 70:
        print(marks,' - distinction')
    else:
        print(marks,' - first class')
elif marks > 50 and marks < 60:
    print(marks,' - second class')
elif marks >= 35:
    print(marks,' - third class')
else:
    print(marks,' - Fail - better luck next time')

55  - second class

In [8]:
marks = 55
if marks>= 60:
    if marks > 70:
        print(marks,' - distinction')
    else:
        print(marks,' - first class')
elif marks > 50 and marks < 60:
    print(marks,' - second class')
elif marks >= 35:
    print(marks,' - third class')
else:
    print(marks,' - Fail - better luck next time')

55  - second class

In [9]:
marks = 75
if marks>= 60:
    if marks > 70:
        print(marks,' - distinction')
    else:
        print(marks, ' - first class')
elif marks > 50 and marks < 60:
    print(marks,' - second class')
elif marks >= 35:
    print(marks,' - third class')
else:
    print(marks,' - Fail - better luck next time')

75  - distinction

In [10]:
marks = 39
if marks>= 60:
    if marks > 70:
        print(marks,' - distinction')
    else:
        print(marks,' - first class')
elif marks > 50 and marks < 60:
    print(marks,' - second class')
elif marks >= 35:
    print(marks,' - third class')
else:
    print(marks,' - Fail - better luck next time')

39  - third class

In [11]:
num1= 20
num2= 30

if num1== '20':
    print('its not 20')
    
elif num2 > 25:
    print('its greater than 25')

its greater than 25

In [12]:
num1 = 20
num2 = 30
if num1 == '20':
    print('its not 20')
elif num2 > 25:
    print('its greater than 25')

its greater than 25

  https://www.cartrade.com/used-carprice/

In [13]:
def used_car_price(car_year,car_brand,kmeters):
    if car_year ==2020:
        if 10000 < kmeters <= 15000:
            if car_brand == 'Honda Amaze':
                print('Rs 690000 - Rs 750000')
            elif car_brand == 'Hundai Creta':
                print('Rs 9750000 -Rs 1050000')
            else:
                print('No stock right now,please visit after few days')
    elif 15001 < kmeters <= 25000:
        if car_brand == 'Honda Amaze':
            print('Rs 550000 - Rs 6000000')
        elif car_brand == 'Hundai Creta':
            print('Rs 845000 - Rs 980000')
        else:
            print('No stock right now,please visit after few days')
    else:
            print('No stocks')
            
            
    if car_year == 2021:
        if 10000 < kmeters <= 15000:
            if car_brand == 'Honda Amaze':
                print('Rs 790000 - Rs 850000')
            elif car_brand == 'Hundai Creta':
                print('Rs 1045000 - Rs 1180000')
            else:
                print('No stock right now,please visit after few days')
        else:
            print('No stock right now,please visit after few days')
    else:
        print("sorry,We dont keep car's older than 2020")

In [14]:
used_car_price(2021,'Hundai Creta',10001)

No stocks
Rs 1045000 - Rs 1180000