# DATA TYPE / STRUCTURES

  * Numbers
  * String
  * List
  * Tuple
  * Set
  * Dictionary

*  #   Numbers

###  Integers (int)

In [1]:
# variable and data assigment
# a = variable
# 20 = Data


a = 20

In [2]:
a

20

In [3]:
print(a)

20

#####  How to check data type

In [4]:
type (a)

int

######  Float

In [5]:
# You can assign print and check dat type in the same cell.
b = 20.0

print(b)

type (b)

20.0

float

 ##### Lets do couple mathematical operations

In [6]:
a = 10
b = 20
print(a+b)

30

In [7]:
c = b - a
print (c * 10)

100

#### Complex

In [9]:
c = 2 + 5j
type(c)

complex

#### String (Text)

In [10]:
print ("Hello World!")

Hello World!

In [11]:
first_string = "Anvi "
second_string = "is a "
third_string = "good girl."

In [12]:
type(first_string)

str

In [13]:
print(first_string + second_string +third_string)

Anvi is a good girl.

In [14]:
total_str = (first_string + second_string +third_string)
print(total_str)

Anvi is a good girl.

###    Other operations on strings

In [17]:
print("Day " * 5)

Day Day Day Day Day

In [22]:
print('Day ' + str(5))

Day 5

In [23]:
print("Day "+5)

TypeError: can only concatenate str (not "int") to str