## Block structure and whitespace

the code that is executed when a specific condition is met is defined in a "block" . In python , the block structure is signnalled by changes in a certain  block level must be indented equally and indented more than the surroundding scope the standard is to use 4 spaces for each level of block indentation. statements preceding blocks generally end with a colon(:)
     Because there are no semi colons or other end- of - line indecators in python ,breacking lines of code requires either a continuation character ( / as the last char )or for the break to occur inside an unfinished structure(such as parentheses)

   ## Advance type : Containers

one of the advantages of python as a programming language is the ease with  which it allows you to manipulate containers.
containers or collections are an integral part of the language ans as you'll see, built in to the core of the language's syntax. AS a result, thinking in a pythonic manner means thinking about containers.

####     Lists

the first containers type that we will look at is the list.A list represents an ordered, mutuable collection of objects.
you can mix and match any type of object in a list, add to it and remove from it at will.

######       creating empty list, To Create an empty lists, we can use empty squre bracketsor use the list [ ] Functions with no arguments.

In [2]:
l = []
l

[]

In [4]:
l = ['a' ,'b' ,'c']
l

['a', 'b', 'c']

In [5]:
l = ['a' ,6.25, 9]
l

['a', 6.25, 9]

In [6]:
# How to copy in to other list
l2 = list(l)
l2

['a', 6.25, 9]

In [7]:
marks = [35,25,98,75,45,56,36,100]
marks

[35, 25, 98, 75, 45, 56, 36, 100]

In [8]:
copy_marks = marks.copy()
copy_marks

[35, 25, 98, 75, 45, 56, 36, 100]

A python string is also a sequence of characters and can be treated as an iterable over those characters. combined with the list () function , a new list of the characters can easily be generated.

In [9]:
list ('MAUSAMI')

['M', 'A', 'U', 'S', 'A', 'M', 'I']

In [10]:
list(123456)

TypeError: 'int' object is not iterable

####  APPEND

In [11]:
employee = []
employee.append ('Radha ')
print(employee)

['Radha ']

In [12]:
employee.append ('Aman')
employee.append ('Rahul')
print(employee)

['Radha ', 'Aman', 'Rahul']

In [1]:
employee.insert (1,'Arohi')
print(employee)

NameError: name 'employee' is not defined