In [1]:
import time
result = time.localtime()
print(result)

time.struct_time(tm_year=2022, tm_mon=10, tm_mday=15, tm_hour=11, tm_min=56, tm_sec=12, tm_wday=5, tm_yday=288, tm_isdst=0)

In [13]:
location = ['mumbai','patna','shimla','guwahati']
print('location')

location

In [15]:
print(location)

['mumbai', 'patna', 'shimla', 'guwahati']

In [16]:
location = ['mumbai','patna','shimla','guwahati']
print('city')

city

In [17]:
location = ['mumbai','patna','shimla','guwahati']
for city in location:
    print('location')

location
location
location
location

In [18]:
location = ['mumbai','patna','shimla','guwahati']
for city in location:
    print(city)

mumbai
patna
shimla
guwahati

In [21]:
salary = [2000,4000,3000,6000,7000]
for value in salary:
    if value > 5000:
        print(value)

6000
7000

In [1]:
for num in range(2,5):
    print ('multiplication table for - ',num) 
    for i in range(1,11):
        print (num *i)
        if i == 10:
            print('/n')
else:
    print('*' * 30)
    print('end of multiplication table')
    print('*' * 30)

multiplication table for -  2
2
4
6
8
10
12
14
16
18
20
/n
multiplication table for -  3
3
6
9
12
15
18
21
24
27
30
/n
multiplication table for -  4
4
8
12
16
20
24
28
32
36
40
/n
******************************
end of multiplication table
******************************

In [2]:
for num in range(2,21):
    print ('multiplication table for - ',num) 
    for i in range(1,11):
        print (num *i)
        if i == 10:
            print('/n')
else:
    print('*' * 30)
    print('end of multiplication table')
    print('*' * 30)

multiplication table for -  2
2
4
6
8
10
12
14
16
18
20
/n
multiplication table for -  3
3
6
9
12
15
18
21
24
27
30
/n
multiplication table for -  4
4
8
12
16
20
24
28
32
36
40
/n
multiplication table for -  5
5
10
15
20
25
30
35
40
45
50
/n
multiplication table for -  6
6
12
18
24
30
36
42
48
54
60
/n
multiplication table for -  7
7
14
21
28
35
42
49
56
63
70
/n
multiplication table for -  8
8
16
24
32
40
48
56
64
72
80
/n
multiplication table for -  9
9
18
27
36
45
54
63
72
81
90
/n
multiplication table for -  10
10
20
30
40
50
60
70
80
90
100
/n
multiplication table for -  11
11
22
33
44
55
66
77
88
99
110
/n
multiplication table for -  12
12
24
36
48
60
72
84
96
108
120
/n
multiplication table for -  13
13
26
39
52
65
78
91
104
117
130
/n
multiplication table for -  14
14
28
42
56
70
84
98
112
126
140
/n
multiplication table for -  15
15
30
45
60
75
90
105
120
135
150
/n
multiplication table for -  16
16
32
48
64
80
96
112
128
144
160
/n
multiplication table for -  17
17
34
51
68
85
102
119
136
153
170
/n
multiplication table for -  18
18
36
54
72
90
108
126
144
162
180
/n
multiplication table for -  19
19
38
57
76
95
114
133
152
171
190
/n
multiplication table for -  20
20
40
60
80
100
120
140
160
180
200
/n
******************************
end of multiplication table
******************************