# Series Manipulation

In [1]:
import numpy as np
import pandas as pd

In [2]:
# You can give your own index names.

ser1 = pd.Series(data=[1,2,3,4],index=['CA','OR','CO','AZ'])
ser1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [3]:
print("\n  indexing by name of the item/object(string identifier) \n",'-' * 56,sep='')
print(" Value for CA in ser1:",ser1['CA'])
print(" Value for AZ in ser1:",ser1['AZ'])

  indexing by name of the item/object(string identifier)
--------------------------------------------------------
 Value for CA in ser1: 1
 Value for AZ in ser1: 4

In [4]:
# You can also fetch elements by elements by its positional index
print("\n Indexing by number (Positional value in the series)\n",'-'*56,sep ='')
print(" Value for CA in ser1:",ser1[0])
print(" Value for AZ in ser1:",ser1[3])

 Indexing by number (Positional value in the series)
--------------------------------------------------------
 Value for CA in ser1: 1
 Value for AZ in ser1: 4

In [5]:
ser1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [6]:
print("\n Indexing by a range\n",'-'*50)
print("Value for OR,CO and AZ in ser1:\n",ser1[1:4])

 Indexing by a range
 --------------------------------------------------
Value for OR,CO and AZ in ser1:
 OR    2
CO    3
AZ    4
dtype: int64

In [7]:
ser1 = pd.Series([1,2,3,4,10],["CA","OR","CO","AZ","NV"])

ser2 = pd.Series([1,2,5,4,30],["CA","OR","NV","PA","CO"])

In [8]:
print('ser1 \n',ser1)

print('*'*50)

print('ser2 \n',ser2)

ser1
 CA     1
OR     2
CO     3
AZ     4
NV    10
dtype: int64
**************************************************
ser2
 CA     1
OR     2
NV     5
PA     4
CO    30
dtype: int64

In [9]:
# Let's add both series

ser3=ser1+ser2

print("\n After adding the two series,the result looks like this.....\n",'-'*50)

print(ser3)

print("\n Python tries to add values where it finds common index name, and keeps NaN where indices are missing\n")

 After adding the two series,the result looks like this.....
 --------------------------------------------------
AZ     NaN
CA     2.0
CO    33.0
NV    15.0
OR     4.0
PA     NaN
dtype: float64

 Python tries to add values where it finds common index name, and keeps NaN where indices are missing

### Similarly you can multiply,substract and do other operations on it